$softorange: #F4A259;
$tomatored: #F25C66;
$mediumblu: #1E272D;

.close-container {
  position: relative;
  margin: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 12px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 12px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label {
  color: $mediumblu;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}

.close {
  margin: 10px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: $tomatored;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: $tomatored;
}
